{% load static %}
<section class="container-fluid footer">

    <div class="row">
    
    <div class="col-md-3">
      <h2><img src="img/logo.png" alt=""></h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi rerum facilis, deserunt ea commodi sed voluptatum beatae accusamus nisi pariatur.</p>
    </div>
    
    <div class="col-md-3">
      <h2>our location</h2>
      <div class="list">
        <a href="https://www.google.com/maps/place/CCJH%2B53V,+Paithanpatti+-Thawe+Rd,+Paithan+Patti,+Bihar+841440/@26.4302714,84.4265978,19.68z/data=!4m15!1m8!3m7!1s0x399304b899e9279d:0xdca6e3e62ef36134!2sPaithan+Patti,+Bihar+841440!3b1!8m2!3d26.426027!4d84.4251445!16s%2Fg%2F1tfmlsyq!3m5!1s0x399304c7e05737b5:0x7ee64e1ddfb0c510!8m2!3d26.4303741!4d84.4276267!16s%2Fg%2F11y2x3mm_r?entry=ttu&g_ep=EgoyMDI0MTAwOS4wIKXMDSoASAFQAw%3D%3D">india</a>
        <a href="#">france</a>
        <a href="#">usa</a>
        <a href="#">japan</a>
        <a href="#">rusia</a>
      </div>
    </div>
    
    <div class="col-md-3">
      <h2>follow us</h2>
      <div class="list">
        <a href="#about">facebook</a>
        <a href="#about">twitter</a>
        <a href="#about">instagram</a>
        <a href="#about">pinterest</a>
      </div>
    </div>
    
    <div class="col-md-3 text-center text-md-left letter">
      <h2>newsletter</h2>
      <p>thanks for visit</p>
      <input type="email" placeholder="enter your email">
      <input type="submit" placeholder="subscribe">
    </div>
    
    </div>
    
    <h1 class="credit">created by <span>mr. indra </span> | all rights reserved. </h1>
    
    </section>
    <!-- jquery file link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- magnific popup link  -->
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script> {% endcomment %}

<!-- main/custom javascript file link  -->
<script src="{% static 'main.js' %}"></script>

</body>
</html>