
{%if not user.is_authenticated %}
<div class="form-container mx-auto">

<form action="" method="POST">
  {% csrf_token %}

  <div class="inputBox">
    <input type="text" name="fname" placeholder="first name">
    <input type="text" name="lname" placeholder="last name">
  </div>
  <input type="email" name="emails" placeholder="e-mail">
  <input type="password" name="pass1" placeholder="password">
  <input style="margin-left: 10px;" name="pass2" type="password" placeholder="confirm password">
  <button style="margin-left: 20px;" type="submit" >submit</button>

</form>


</div>
{% endif %}